{% extends 'layout.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
{% endblock %}

{% block content %}
<!doctype html>
<html>
   <body>
   
      <table border = 1>
         <thead>
            <td>Username</td>
            <td>Email</td>
            <td>Post</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["name"]}}</td>
               <td>{{row["email"]}}</td>
               <td> {{ row["Post"]}}</td>
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page</a>
      
   </body>
</html>
{% endblock %}